<footer>
  <nav class="navbar fixed-bottom " style="background-color:#edc9c9 ;">
    <!-- Julia Ong Oh 301185511 Oct 23 -->
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: #fffef2; text-align: center; font-family: 'Times New Roman', Times, serif;">Julia Ong Oh 301185511</a>
      <a class="navbar-brand" href="#" style="color: #fffef2;font-family: 'Times New Roman', Times, serif;">COMP229</a>
    </div>
    <h6 class="display-6"&copy;2022 All rights reserved.></h6>
  </nav>
    </footer>
