<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>
<!-- Julia Ong Oh 301185511 Oct 23 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa&family=Great+Vibes&display=swap" rel="stylesheet">
  
<body style="background-image: url('pink.jpg');">
  

  
  <h1 style="font-family: 'Abril Fatface', cursive; margin-left: 42%;color:  #fffef2;">Julia Ong Oh</h1>
  <a href="resume.pdf" style="font-family: 'Times New Roman', Times, serif; margin-left: 48%; color:  #fffef2;">RESUME</a>

  <img src="profilepicture.jpg" style="margin-left: 44%" height="250px">
   <p style="    font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   margin-top: 1%;
   margin-left: 25%;
   margin-right: 25%;
   font-family: 'Comfortaa', cursive;">With the lessons and experiences I learn from school, I enjoy creating websites and figuring out designs that go well with each other. Seeing unique and trendy websites inspire me to try experimenting on different styles such as fonts, backgrounds, and images for my own website. Spending time working and improving on my webpages is a task I really like to do.</p>
  
   <embed src="resume.pdf" width="500" height="375" type="application/pdf" style="margin-left: 33%;">

    
<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>