<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>
<!-- Julia Ong Oh 301185511 Oct 23 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa&family=Great+Vibes&display=swap" rel="stylesheet">
  <body style="background-image:url('bg.jpg'); background-size:cover;">

  <style>
    h1,h3,a,p{
      color: #fffef2;
    }

    #avatar{
      height: 100px;
      float: left;
    }

  </style>
   <img src="avatar.png" height="250px" id="avatar">
   <a class="nav-link active" aria-current="page" href="/about" style="margin-top: 25px;float: left; font-family:'Times New Roman', Times, serif; font-size: 20px; color: #fffef2;"><b> — about</b></a>
  <br>
  <br>

  <h1 style="margin-left:34% ;font-family: 'Great Vibes', cursive;">Welcome to Julia Mari's webpage</h1>

   <br>
   <br>
   <h1 style="font-family: 'Abril Fatface', cursive; text-align: center;">home.</h1>
   <hr>
   <br>
   <br>

   <div class="right">
      <h1 style="text-align:center;"><i> Mission Statement</i></h1>
     <p style="    font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     margin-top: 1%;
     margin-left: 25%;
     margin-right: 25%;
     font-family: 'Comfortaa', cursive;">
       Passionate for creating and designing unique websites. This is done through the use of HTML concepts. With her knowledge, she loves to make personal websites.
     </p>

     <img src="https://proofmart.com/wp-content/uploads/2021/06/13-01-1.png" height="150px" style="margin-left: 45%;">
   </div>
   
 </div>
<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>

