<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>
<!-- Julia Ong Oh 301185511 Oct 23 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa&family=Great+Vibes&display=swap" rel="stylesheet">
<body style="background-image: url('pink.jpg');">
  

  
    <h2 style="margin-left: 47%; color: #fffef2; font-family: 'Abril Fatface', cursive;">projects</h2>
    <hr>
  
    <style>
     .container {
       display: flex;
       align-items: center;
       justify-content: center
     }
     p {
       font-size: 20px;
       padding-left: 20px;
       font-family: 'Comfortaa', cursive;
     }
     img{
        height: 150px;
     }
   </style>
  
 
   <div class="container">
     <div class="image">
     
       <img src="project1.png">
     </div>
     <div class="text">
       <p> This was a project I created to display different property listings. In this case, I was a real estate agent, so I created a page showing my information and included links for the several properties I found.</p>
     </div>
   </div>
  <br>

  
  <div class="container">
     <div class="image">
     
       <img src="project2.png">
     </div>
     <div class="text">
       <p style="font-family: 'Comfortaa', cursive;"> In this project, I wanted to make a small cute photo gallery displaying some pictures that I liked. You can change through the photos and even update it.</p>
     </div>
   </div>
   <br>
  

  <div class="container">
     <div class="image">
       <img src="project3.png">
     </div>
     <div class="text">
        <p style="font-family: 'Comfortaa', cursive;">Here, I made a mini game that has a counter that keeps track of the score. It is a simple game that can be played by anyone.</p>
     </div>
   </div>

<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%> 


