/* CSS <!-- Julia Ong Oh 301185511 Oct 23 --> */
.button-23 {
    background-color: #edc9c9;
    border: 1px solid #fffef2;
    border-radius: 8px;
    box-sizing: border-box;
    color: #fffef2;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 10px;
    outline: none;
    padding: 13px 80px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
  }

  .button-24 {
    background-color: #edc9c9;
    border: 1px solid #fffef2;
    border-radius: 8px;
    box-sizing: border-box;
    color: #fffef2;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 10px;
    margin-left: 600px;
    outline: none;
    padding: 13px 50px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
  }
  
  .button-23:focus-visible, .button-24:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }
  
  .button-23:active, .button-24:active {
    background-color: #F7F7F7;
    border-color: #000000;
    color: #fffef2;
    transform: scale(.96);
  }
  
  .button-23:disabled, .button-24:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }
